<div class='tDiv'>
    <div class='bodyPartsItem'> 
        <a href="absTraining">
            <div class='bodyPartsImg'>
                <img src="../images/body-part-abs.png">
            </div>
            <span>Abs</span>
        </a>
    </div>
    <div class='bodyPartsItem'>
        <a href="legsTraining">
            <div class='bodyPartsImg'>
                <img src="../images/body-part-legs.png">
            </div>
            <span>Legs</span>
        </a>
    </div>
    <div class='bodyPartsItem'>
        <a href="armTraining">
            <div class='bodyPartsImg'>
                <img src="../images/body-part-arms.png">
            </div>
            <span>Arms</span>
        </a>
    </div>
    <div class='bodyPartsItem'>
        <a href="shouldersTraining">
            <div class='bodyPartsImg'>
                <img src="../images/body-part-shoulders.png">
            </div>
            <span>Shoulders</span>
        </a>
    </div>
    <div class='bodyPartsItem'>
        <a href="chestTraining">
            <div class='bodyPartsImg'>
                <img src="../images/body-part-chest.png">
            </div>
            <span>Chest</span>
        </a>
    </div>
    <div class='bodyPartsItem'>
        <a href="backTraining">
            <div class='bodyPartsImg'>
                <img src="../images/body-part-back.png">
            </div>
            <span>Back</span>
        </a>
    </div>
</div>