<%- include('includes/head.ejs') %>

    <%- include('includes/nevigation.ejs') %>   
    <%- include('includes/body_parts.ejs') %>
<div class = "exerciseItems">

    <div class="mainP">
        <p>In all exercises rest for up to 2 minutes according to feeling</p>
    </div>
    <div class="exerciseItem">
        <div class="bodyPartItem">
            <img src="../images/Crunches.gif">
            <span>15 repetitions 3 sets</span>
        </div>
    </div>
    <div class="exerciseItem">
        <div class="bodyPartItem">
            <img src="../images/heel tucher.gif">
            <span>15 repetitions 3 sets</span>
        </div> 
    </div>
    <div class="exerciseItem">
        <div class="bodyPartItem">
            <img src="../images/air bike.gif">
            <span>30 repetitions 3 sets</span>
        </div>
    </div>
    <div class="exerciseItem">
        <div class="bodyPartItem">
            <img src="../images/plank.gif">
            <span> second 60</span>
        </div>
    </div>
    <div class="exerciseItem">
        <div class="bodyPartItem">
            <img src="../images/side plank.gif">
            <span> second 60 every side</span>
        </div>
    </div>

</div>
        </main>
    </body>
</html>