<%- include('includes/head.ejs') %>

    <%- include('includes/nevigation.ejs') %>   
    <%- include('includes/body_parts.ejs') %>
    <div class = "exerciseItems">
        <div class="mainP">
            <p>In all exercises rest for up to 2 minutes according to feeling</p>
        </div>

        <div class="mainP" style="width: 20%;"> <p>Back arm</p> </div>
        
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/bench dip on floor.gif">
                <span>15 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Dumbbell Lying Single Extension.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Dumbbell Twisting Bench Press.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Dumbbell Twisting Bench Press.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>

        <div class="mainP" style="width: 20%;"><p>Front arm</p></div>

        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Dumbbell Curl.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Dumbbell Biceps Curl.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Cable Rope Hammer Preacher Curl.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Band concentration curl male.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>

    </div>
    </main>
</body>
</html>