<%- include('includes/head.ejs') %>

    <%- include('includes/nevigation.ejs') %>   
    <%- include('includes/body_parts.ejs') %>
    <div class = "exerciseItems">
        <div class="mainP">
            <p>In all exercises rest for up to 2 minutes according to feeling</p>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/chin up.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Resistance Band Seated Straight Back Row.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/band grip pulldown.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Cable Lying Extension Pullover.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Floor Hyperextension.gif">
                <span>15 repetitions 3 sets</span>
            </div>
        </div>

    </div>

</main>
</body>
</html> 