<%- include('includes/head.ejs') %>

    <%- include('includes/nevigation.ejs') %>   
    <%- include('includes/body_parts.ejs') %>
    <div class = "exerciseItems">
        <div class="mainP">
            <p>In all exercises rest for up to 2 minutes according to feeling</p>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Bench Press.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Dumbbell Incline Bench Press.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Band low fly.gif">
                <span>12 repetitions 3 sets</span>
            </div>
        </div>
        <div class="exerciseItem">
            <div class="bodyPartItem">
                <img src="../images/Cable Crossover Variation.gif">
                <span>10 repetitions 3 sets</span>
            </div>
        </div>

    </div>

    </main>
</body>
</html> 