<%- include('includes/head.ejs') %>

    <%- include('includes/nevigation.ejs') %>   
     
    <main>
<div class="articalDiv">
    <p>This site presents fitness exercises for doing at home with the help of weights and resistance straps.
        In order to see the exercise you need to register on the website.</p>

        <h1> article & tips </h1>
    <article>
        <a href="https://www.active.com/fitness/articles/healthy-recipes-to-start-your-new-year-off-right">
            <div class="imgDiv">
                <img src="../images/food.jpg">
            </div>
            <div>
                <h2>Healthy Recipes to Start Your New Year off Right</h2>
                <address>By Jackie Veling</address>
            </div>     
        </a>
    </article>

    <article>
        <a href="https://www.everydayhealth.com/fitness/add-strength-training-to-your-workout.aspx">
            <div class="imgDiv">
                <img src="../images/every day health.jpg">
            </div>
            <div>
                <h2>7 Ways Strength Training Boosts Your Health and Fitness</h2>
                <address>By Chris Iliades, MD </address>
            </div> 
           </a>    
    </article>

    <article>
        <a href="https://www.medicalnewstoday.com/articles/153390">
            <div class="imgDiv">
                <img src="../images/medical news today.jpg">
            </div>
            <div>
                <h2>What to know about exercise and how to start</h2>
                <address>By Adam Felman </address>
            </div> 
           </a>    
    </article>

    <article>
        <a href="https://health.usnews.com/wellness/fitness/articles/fitness-trends-this-year">
            <div class="imgDiv">
                <img src="../images/fitness trands.jfif">
            </div>
            <div>
                <h2>2020 Fitness Trends</h2>
                <address>By Heidi Godman </address>
            </div> 
           </a>    
    </article>

</div>
           
        
    </main>
    </body>
</html>